@{
    ViewData["Title"] = "Home Page";
}

<main class="flex-container">
    <div class="titlebackground">
        <h1>Features</h1>
        <div>

            <div class="playlists">
                <div class="playlist">
                    <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-banner-bg.png" alt="Playlist Cover">
                    <h3>Playlist Title</h3>
                    <p>Playlist Description</p>
                </div>
                <div class="playlist">
                    <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-banner-bg.png" alt="Playlist Cover">
                    <h3>Playlist Title</h3>
                    <p>Playlist Description</p>
                </div>
                <div class="playlist">
                    <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-banner-bg.png" alt="Playlist Cover">
                    <h3>Playlist Title</h3>
                    <p>Playlist Description</p>
                </div>
                <div class="playlist">
                    <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-banner-bg.png" alt="Playlist Cover">
                    <h3>Playlist Title</h3>
                    <p>Playlist Description</p>
                </div>
                <div class="playlist">
                    <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-banner-bg.png" alt="Playlist Cover">
                    <h3>Playlist Title</h3>
                    <p>Playlist Description</p>
                </div>
                <div class="playlist">
                    <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-banner-bg.png" alt="Playlist Cover">
                    <h3>Playlist Title</h3>
                    <p>Playlist Description</p>
                </div>
            </div>

        </div>
      </div>
    
</main>
