@{
    ViewData["Title"] = "Search";
}

<header class="sticky-top">
    <div class="hcon container-fluid">
        <!-- Added container-fluid for full-width content -->
        <div class="header-content">
            <div class="image-container">
                <img src="https://cdn-icons-png.flaticon.com/128/271/271220.png" alt="back" class="side-by-side">
                <img src="https://cdn-icons-png.flaticon.com/128/271/271228.png" alt="front" class="side-by-side">
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Search" class="kme-search-bar">
                <i class="fas fa-search search-icon"></i>
            </div>

            <div class="btn text-left">
                <!-- Changed to text-left -->
                <button type="button" onclick="window.location.href='E:\kme\EME1-main\EME-main\EME\register.html'">Signup</button>
                <button type="button" class="btn2">Login</button>
            </div>
        </div>
    </div>
</header>
<main class="flex-container">
    <div class="titlebackground">
        <h1>Browse all</h1>
        <div class="box-container  ">
            <div class="box1">Box 1</div>
            <div class="box1">Box 2</div>
            <div class="box1">Box 3</div>
            <div class="box1">Box 4</div>
            <div class="box1">Box 5</div>
            <div class="box1">Box 6</div>
        </div>
    </div>
</main>